.wrapper {
    border: 2px solid whitesmoke;
    border-radius: 15px;
    background-color: #464649;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}