.icon-add {
    stroke: #28a745;
}

.icon-add:hover {
    stroke: #238a3b;
}

.delete-icon {
    color: grey;
}

.delete-icon:hover {
    color: red;
}

.edit-icon {
    color: grey;
}

.edit-icon:hover {
    color: rgb(92, 91, 91);
}